@font-face {
    font-family: 'Digital-7';
	src: url('digital-7.ttf'); 
}

@font-face {
    font-family: 'Digital-7-mono';
	src: url('digital-7-mono.ttf'); 
}

body, html, .container-fluid, .col {
	height: 100%;
}

.font-size {
	max-width: 70px;
}

#max-clocks {
	max-width: 30px;
	margin: 0;
}

.max-clocks label, .max-clocks input, .system label {
	vertical-align: middle;
	text-align: center;
    padding:0px;
    margin:0px;
}

.modal {
	max-height: 100%;
	overflow-y: auto;
}

.modal-close:focus, .modal-close:active {
    box-shadow: none;
    outline: none;
}

.font-underline { 
	text-decoration: underline; 
}


.invisible {
	visibility: hidden;
}

.no-border {
	border: none;
}

.modal-header-icon svg {
	margin-top: 4px;
}

.preview-mode {
	display: none;
}

.transparent-background {
	background-color: transparent;
	background: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.svg-red {
	fill: red;
 }

 .svg-white {
	 fill: white;
 }

 .svg-blue {
	 fill: #428bca;
 }

 .svg-green {
	fill: #82fda1;
 }

 @keyframes lcdFade {
	0%   { opacity:0.8; }
	100% { opacity:0.6; }
  }